* {
    box-sizing: border-box
}
 
body {
  background-color: rgba(211, 211, 179, 0.773);
}
 
.menu-links {
  display: none;
  width: 100%;
 
}
 
#menuToggle:checked ~ .menu-links {
  display: block;
}
 
#content {
  margin: 20px;
}