* {
    box-sizing: border-box
}
 
.menu-links {
  display: none;
  width: 100%;
}
 
#menuToggle:checked ~ .menu-links {
  display: block;
}
 
@media (min-width: 992px) {
  .menu-links {
    display: flex !important;
  }
  label[for="menuToggle"] {
    display: none;
  }
}